@charset "utf-8";

@font-face {
	font-family: 'mplus-light';
	src: url(../font/mplus-1p-light.ttf);
}

@font-face {
	font-family: 'mplus-thin';
	src: url(../font/mplus-1p-thin.ttf);
}

* {
	margin: 0;
	padding: 0;

	font-family: minion-pro, serif;
	font-weight: 100;
	letter-spacing: 0.1em;
	font-size: 100%;
}

body {
	background-image: url("../images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	color: aliceblue;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

header {
	margin-bottom: 30px;
	text-align: center;
}

h1 {
	font-family: minion-pro, serif;
	font-weight: 10;
	letter-spacing: 0.1em;
	font-size: 300%;
}

h2 {
	font-family: minion-pro, serif;
	font-weight: 10;
	letter-spacing: 0.1em;
	font-size: 200%;
}

.pages {
	width: 100%;
}

#artworks-turn {
	/* 元の画像の大きさ */
	width: 960px;
	height: 680px;

	text-align: center;
	margin: 0 auto;
}

ul {
	text-align: center;
	list-style: none;
	width: 100%;
	margin-bottom: 30px;
}

ul li {
	width: 50%;
	float: left;
}

ul::after {
	content: "";
	display: block;
	clear: both;
}

#prevpage,
#nextpage {
	cursor: pointer;
}

.videos{
	text-align: center;
}

/*ボタン１*/
.spot {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.svg-wrapper {
	margin-top: 0;
	position: relative;
	width: 200px;
	/*make sure to use same height/width as in the html*/
	display: inline-block;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;
}

#shape {
	stroke-width: 6px;
	fill: transparent;
	stroke: #009FFD;
	stroke-dasharray: 85 400;
	stroke-dashoffset: -220;
	transition: 1s all ease;
}

#text {
	margin-top: -40px;
	text-align: center;
}

#text a {
	text-decoration: none;
	font-weight: 100;
	font-size: 1.1em;
	color: aliceblue;
}

.svg-wrapper:hover #shape {
	stroke-dasharray: 50 0;
	stroke-width: 4px;
	stroke-dashoffset: 0;
	stroke: #06d6a0;
}

/* ボタン２ */
.btn,
a.btn,
button.btn {
	font-size: 1.0rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	border-radius: 0.5rem;
}

a.btn-flat {
	overflow: hidden;

	padding: 1.5rem 6rem;

	color: aliceblue;
	border-radius: 0;
	background: #000;
}

a.btn-flat span {
	position: relative;
	z-index: 1;
}

a.btn-flat:before {
	position: absolute;
	top: 0;
	left: calc(-150% + 50px);

	width: 150%;
	height: 500%;

	content: '';
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: rotate(45deg) translateX(0) translateY(0);
	transform: rotate(45deg) translateX(0) translateY(0);

	background: #00f7ff;
}

a.btn-flat:after {
	position: absolute;
	top: -400%;
	right: calc(-150% + 50px);

	width: 150%;
	height: 500%;

	content: '';
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: rotate(45deg) translateX(0) translateY(0);
	transform: rotate(45deg) translateX(0) translateY(0);

	background: #00f7ff;
}

a.btn-flat:hover:before {
	-webkit-transform: rotate(45deg) translateX(0) translateY(-50%);
	transform: rotate(45deg) translateX(0) translateY(-50%);
}

a.btn-flat:hover:after {
	-webkit-transform: rotate(45deg) translateX(0) translateY(50%);
	transform: rotate(45deg) translateX(0) translateY(50%);
}